:root {
  --primary: var(--sv-purple);
  --primary-complement: #a5fe8e;
  --primary-dark: #101415;
  --primary-dark-op: #101415f0;
  --grey: #292a2d;
  --white: #ffffff;
  --greyLight-1: #e4ebf5;
  --greyLight-2: #c8d0e7;
  --greyLight-3: #bec8e4;
  --greyDark: #9baacf;
  --sv-pink: #f900d6;
  --sv-pink-stripe: #f900d610;
  --sv-purple: #9724f0;
  --sv-purple-stripe: #9724f010;
  --sv-purple-light: #dfbdfa;
  --sv-purple-complement: #7df024;
  --sv-purple-light-complement: #d9fbbd;
  --sv-purple-light-complement-fade: #e9fdd9;
  --nm-in: 0.1em 0.1em 0.3em var(--grey), -0.1em -0.1em 0.3em black;
  --nm-out: inset 0.1em 0.1em 0.3em var(--grey), inset -0.1em -0.1em 0.3em black;
  --fs-default: 1em;
  --fs-small: calc(0.85 * var(--fs-default));
  --fs-bold: calc(1.1 * var(--fs-default));
  --fs-ui: 1.3em;
  --fs-title: 1.8em;
  --fs-heading: 3.5em;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

img {
  -webkit-user-drag: none;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  caret-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary);
}

a {
  color: var(--greyDark);
}

html {
  box-sizing: border-box;
  overflow-y: scroll;
  background: var(--primary-dark);
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  color-scheme: dark;
}

.container {
  min-height: 100vh;
  height: 100vh;
  width: 75em;
  max-width: 75vw;
  padding: 5px;
  display: flex;
  color: white;
}

.components {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.header {
  display: flex;
  justify-content: start;
  align-items: center;
  border-bottom: 1px solid var(--primary);
  gap: 1em;
  .links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: end;
    height: 100%;
    gap: 0.5em;
    font-size: var(--fs-ui);
    margin-bottom: 0.5em;
  }
  .title {
    font-size: 2.5em;
    color: white;
    text-decoration: none;
    img {
      height: 1.5em;
    }
  }
}

.main {
  flex-grow: 1;
  font-size: var(--fs-default);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  h1 {
    font-size: var(--fs-heading);
  }
}

.footer {
  padding: 2em 0 1em 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  gap: 1em;
  .border {
    height: 0px;
    width: 100%;
    border-top: 1px solid var(--primary);
  }

  .info-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .info-column {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1em;
  }

  .info-text {
    text-align: center;
    font-size: var(--fs-small);
  }
}

.ranked,
.unranked {
  margin: 1em 0em;
  width: 100%;
}

.unranked {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 0;
  opacity: 0;
  user-select: none;
  transition: all 0s ease;
}

.unranked.visible {
  visibility: visible;
  height: fit-content;
  display: flex;
  opacity: 1;
  transition: all 1.3s;
}

.unranked-filters {
  display: flex;
  gap: 2em;
  margin-bottom: 1em;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.filter-section {
  display: flex;
  flex-direction: column;
  gap: 3em;
  width: 100%;
  margin-bottom: 1em;
}

.filter-section.main {
  width: 60%;
}

.filter-section.sub {
  width: 40%;
  gap: 2em;
  justify-content: center;
  /* font-size: var(--fs-bold) !important; */
}

.queue-radio {
  font-weight: bold;
}

.hunter-select {
  position: relative;
  display: flex;
  gap: 2.5em;
  width: 100%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  input {
    display: none;
  }
  .hunter-portrait {
    height: 5.5em;
    display: flex;
    width: 30%;
    justify-content: flex-end;
    img {
      height: 7em;
      width: 7em;
      border-radius: 50%;
    }
  }
  .hunter-name {
    width: 70%;
    transition: all 0.5s ease;
    text-align: start;
    > span {
      font-size: var(--fs-heading);
      font-weight: bold;
      font-style: italic;
      position: relative;
    }
    > span::after {
      content: " ";
      position: absolute;
      top: 0;
      right: -20px;
      border: 8px solid transparent;
      bottom: calc(1em - 2px);
      border-top-color: white;
    }
  }

  .hunter-portrait > img[hidden] ~ .hunter-name {
    span::after {
      top: 1;
    }
  }

  .hunter-select:hover {
    * {
      transition: all 0.5s linear;
    }
    > .hunter-name {
      span {
        color: var(--sv-purple-light-complement) !important;
      }
      > span::after {
        border-top-color: var(--sv-purple-light-complement) !important;
      }
    }
  }

  .hunter-list {
    position: absolute;
    top: 100%;
    z-index: 100;
    border-radius: 2em;
    width: 100%;
    background: var(--primary-dark-op);
    box-shadow: inset 0.1em 0.1em 0.3em var(--grey),
      inset -0.1em -0.1em 0.3em black;
    padding: 1em;
    flex-direction: column;
    gap: 1em;
    animation: appear 0.5s ease;
    cursor: default;

    #close-hunter-list {
      position: absolute;
      right: 1em;
      top: 1em;
      transition: all 0.5s ease;
      cursor: pointer;
      svg {
        width: 16px;
        height: 16px;
      }

      path {
        stroke: white;
      }
    }

    #close-hunter-list:hover {
      path {
        stroke: var(--primary-complement);
      }
    }

    div {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5em;
      justify-content: flex-start;
      align-items: center;
      gap: 1em;
    }

    div:first-child {
      justify-content: center;
    }

    .hunter-button {
      flex: 1 1 0px;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      justify-content: flex-start;
      border-radius: 3px;
      cursor: pointer;
      * {
        transition: all 0.5s ease;
      }
      img {
        width: 32px;
        border-radius: 50%;
      }
    }

    .hunter-button:hover {
      * {
        color: var(--sv-purple-light-complement);
      }
    }

    .hunter-button:active {
      * {
        color: var(--primary-complement);
      }
    }
  }

  .hunter-list.visible {
    animation: appear 3s ease;
    display: flex;
  }
}

.leaderboard {
  width: 100%;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  #entries {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    gap: 0.5em;
    .entry {
      display: flex;
      gap: 1em;
      width: 100%;
      border-radius: 2em;
      background: var(--sv-purple-stripe);
      box-shadow: var(--nm-out);
      .stat {
        font-size: var(--fs-ui);

        img {
          width: 5em;
          padding: 0 0.5em 0 0.5em;
        }
      }

      .cell {
        flex: 1 1 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: var(--fs-ui);
      }

      .playername {
        text-decoration: none;
        color: white;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: all 0.5s ease;
        img {
          width: 32px;
          height: 32px;
          margin-left: 5px;
        }
      }
      .playername:hover {
        transition: all 0.5s ease;
        color: var(--sv-purple-light-complement);
      }

      .cell:nth-child(1) {
        justify-content: flex-end;
      }

      .cell:nth-child(3) {
        flex-grow: 2;
        justify-content: start;
      }
    }
  }
}

#spinner:not([hidden]) {
  flex-grow: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#spinner::after {
  content: "";
  width: 80px;
  height: 80px;
  border: 2px solid white;
  border-top: 3px solid var(--sv-purple);
  border-radius: 100%;
  will-change: transform;
  animation: spin 1s infinite linear;
}

.tierlist {
  margin: 1em 0 1em 0;
  width: 100%;
  flex-grow: 1;
  justify-content: start;
  gap: 1em;

  .filter-selection {
    font-weight: bold;
    margin-bottom: 1em;
  }

  #entries {
    gap: 0.5em;
    width: 100%;
    > * {
      flex: 1 1 0px;
    }
    .entry {
      display: flex;
      gap: 1em;
      padding: 0.4em 1em 0.4em 1em;
      align-items: center;
      width: 100%;
      border-radius: 2em;
      background: var(--sv-purple-stripe);
      opacity: 0;
      .kd,
      .wr,
      .pr {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.2em;
      }

      > :first-child {
        display: flex;
        font-size: var(--fs-title);
        align-items: end;
        justify-content: end;
      }

      .kd {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: end;

        > div {
          height: 100%;
          gap: 0.2em;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          > :first-child {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: calc(var(--fs-title) - 0.2em);
            flex-grow: 1;
            font-weight: bold;
          }
        }
      }

      .ring {
        height: 3.5em;
        width: 3.5em;
        max-height: 4em;
      }
      > * {
        flex: 1 1 0px;
      }

      .pr {
        align-items: center;
        flex-grow: 0;
      }

      .title {
        cursor: pointer;
        display: flex;
        flex-shrink: 0;
        gap: 0.5em;
        font-size: var(--fs-title);
        font-weight: bold;
        font-style: italic;
        align-items: center;
        justify-content: start;
        color: white;
        text-decoration: none;
        transition: all 0.5s ease;
        img {
          height: 1.5em;
          width: 1.5em;
          border-radius: 50%;
        }
      }

      .title:hover {
        color: var(--primary-complement);
      }
    }
    .entry.entry-list {
      padding: 0.1em;
      border-radius: 0;
      box-shadow: var(--nm-in);
      background: transparent;
      * {
        font-size: var(--fs-bold);
      }

      div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1 1 0px;
      }
      :first-child {
        justify-content: flex-end;
      }
    }
    .entry.striped {
      background: var(--sv-purple-stripe);
    }
  }

  #entries:has(.entry-list) {
    gap: 3px;
  }

  .tierlist-sort {
    position: relative;
    width: 100%;
    gap: 1em;
    padding: 0 1em 0 1em;
    > div {
      display: flex;
      flex: 1 1 0px;
      position: relative;
    }

    span {
      position: relative;
    }

    > :first-child {
      font-weight: bold;
    }

    > :nth-child(1),
    > .sort-kd {
      justify-content: flex-end;
    }
    > .sort-name,
    > .sort-wr {
      justify-content: center;
    }
    > .sort-pr {
      justify-content: center;
      flex-grow: 0;
    }
  }

  .tierlist-sort:has(~ #entries > .entry-list) {
    > div {
      justify-content: center;
    }
    /* > div:last-of-type {
      display: none;
    } */
    .sort-name {
      justify-content: start;
    }
    > .sort-pr {
      flex-grow: 1;
    }
    > div:first-of-type {
      justify-content: end;
    }
  }
  .list-toggle {
    padding: 1em 0em;
    position: absolute;
    right: 0;
  }
}

.radio-toggles {
  display: flex;
  gap: 0.5em;
  input {
    display: none;
  }
  input:checked + label {
    box-shadow: var(--nm-in);
    * {
      stop-color: var(--primary-complement);
      fill: var(--primary-complement);
    }
  }
  label {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    border-radius: 0.5em;
    box-shadow: var(--nm-out);
    svg {
      height: 24px;
      width: 24px;
    }
    * {
      fill: white;
    }
  }
  label:hover {
    transition: all 0.5 linear;
    box-shadow: inset 0.1em 0.1em 0.2em var(--grey),
      inset -0.1em -0.1em 0.2em black;
    * {
      stop-color: var(--sv-purple-light-complement);
      fill: var(--sv-purple-light-complement);
    }
  }
}

.neumorphic {
  box-shadow: inset 0.1em 0.1em 0.3em var(--grey),
    inset -0.1em -0.1em 0.3em black;
}

.search {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  .search-field {
    position: relative;
    display: flex;
    align-items: center;
    input {
      width: 13em;
      height: 2.3em;
      border: none;
      display: flex;
      justify-content: center;
      box-shadow: var(--nm-in);
      border-radius: 0.5em;
      font-size: var(--fs-ui);
      padding-left: 2.3em;
      background: none;
      font-family: inherit;
      color: var(--greyDark);
    }

    input::placeholder {
      color: var(--greyLight-3);
    }

    input:focus {
      outline: none;
      box-shadow: var(--nm-out);
      caret-color: white;
      + .icon {
        color: var(--primary);
      }
    }

    .search-icon {
      height: 1.3em;
      position: absolute;
      font-size: var(--fs-ui);
      padding: 0 0.5em;
      display: flex;
      color: var(--greyDark);
      transition: 0.3s ease;

      svg {
        fill: var(--greyDark);
      }
    }
    .search-icon[loading] > svg {
      display: none;
      align-items: center;
      justify-content: center;
    }
    .search-icon[loading]::after {
      content: " ";
      height: var(--fs-ui);
      width: var(--fs-ui);
      border: 2px solid white;
      border-top: 3px solid var(--greyDark);
      border-radius: 100%;
      will-change: transform;
      animation: spin 1s infinite linear;
    }

    .search-results {
      visibility: hidden;
      padding: 8px;
      position: absolute;
      overflow-y: scroll;
      overflow-x: visible;
      flex-direction: column;
      display: flex;
      gap: 8px;
      top: 100%;
      left: 0;
      background: var(--primary-dark);
      .search-result {
        cursor: pointer;
      }
      .search-result:hover {
        color: var(--sv-purple-light-complement);
      }
    }

    .search-input:focus ~ .search-results,
    .search-results:hover,
    .search-results:focus {
      min-height: 6px;
      max-height: 12em;
      min-width: 13em;
      width: 100%;
      visibility: visible;
      box-shadow: var(--nm-in);
    }
  }
}

.player-name {
  font-size: calc(var(--fs-heading) * 1.5);
  font-style: italic;
  font-weight: bold;
}

.player-info {
  width: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
  .player-summary {
    position: relative;
    gap: 1em;
    width: inherit;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    display: flex;
    .stat-toggles {
      padding: 0.5em 1em;
      position: absolute;
      right: 0;
      top: 0;
    }
    > * {
      position: relative;
      display: flex;
      flex-direction: column;
      border-radius: 0.5em;
      padding: 0.5em 1em;
      box-shadow: var(--nm-out);
      gap: 1em;
      opacity: 0;
    }

    > .hunter-summary {
      flex-grow: 3;
      .fav-hunters {
        flex-grow: 2;
        height: 100%;
        gap: 1em;
        > * {
          flex: 1 1 0px;
        }
      }
      .fav-hunter-info {
        height: 100%;
        flex-grow: 2;
        gap: 1em;
        .fav-hunter-header {
          width: 100%;
          justify-content: space-between;
          .fav-hunter-portrait {
            justify-content: start;
            align-items: center;
            gap: 1em;
            span {
              font-size: var(--fs-heading);
            }
            img {
              height: 6em;
              border-radius: 50%;
            }
          }
          .fav-hunter-ratings {
            padding-right: 2em;
            gap: 1em;
            > * {
              flex: 1 1 0px;
              flex-grow: 1;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
            }
            svg {
              width: 5em;
              height: 5em;
            }
          }
        }

        .fav-hunter-stats {
          flex-grow: 1;
          width: 100%;
          gap: 1em;
          margin-bottom: 0.5em;
          > * {
            flex-grow: 1;
            width: 100%;
            > div {
              flex: 1 1 0px;
              align-items: center;
              justify-content: flex-start;
              gap: 3px;
              font-size: var(--fs-ui);
              span {
                font-size: var(--fs-bold);
              }
              span:before {
                content: ": ";
              }
              img {
                height: 1.5em;
                width: auto;
              }
            }
          }
        }
      }

      .sub-hunters {
        height: 100%;
        flex-grow: 1;
        gap: 1em;
        .sub-hunter {
          gap: 0.2em;
          width: 100%;
        }

        .sub-hunter-header {
          width: 100%;
          justify-content: start;
          .sub-hunter-portrait {
            justify-content: start;
            align-items: center;
            gap: 0.7em;
            span {
              font-size: var(--fs-ui);
              * {
                color: white;
                text-decoration: none;
              }
            }
            span:hover {
              * {
                transition: all 0.5s linear;
                color: var(--sv-purple-light-complement);
              }
            }
            img {
              height: 3em;
              border-radius: 50%;
            }
          }
        }

        .sub-hunter-stats {
          flex-grow: 1;
          width: 100%;
          gap: 1em;
          margin-bottom: 0.5em;
          > * {
            flex-grow: 1;
            width: 100%;
            > div {
              flex: 1 1 0px;
              align-items: center;
              justify-content: flex-start;
              gap: 3px;
              font-size: var(--sf-default);
              span {
                font-size: var(--sf-default);
              }
              span:before {
                content: ": ";
              }
              img {
                width: 1.2em;
                height: auto;
              }
            }
          }
        }
      }
    }
    > .stats-summary {
      flex-grow: 1;
      transition-delay: 0.3s;
      justify-content: start;
      position: relative;
      #summary-content {
        flex-grow: 1;
        transition-delay: 0.3s;
        justify-content: center;
        position: relative;
        display: flex;
        flex-direction: column;
        .data-group-total {
          display: flex;
          align-items: center;
          gap: 1em;
          margin-bottom: 1em;
          > :first-child {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
          }
          > :last-child {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: end;
            svg,
            .flex-col {
              width: 5em;
            }
          }
        }
      }
    }

    h3 {
      text-align: start;
    }
  }

  .stat-list {
    width: 100%;
    display: flex;
    overflow-x: scroll;
    opacity: 0;
    transition-delay: 0.6s;
    .wrapper {
      width: 175%;
      align-self: baseline;
      margin-left: 5px;
      h4 {
        margin-top: 5px;
        width: 175%;
      }
      .entries {
        width: inherit;
        display: flex;
        flex-direction: column;
        gap: 3px;
        > * {
          width: 100%;
        }
        .flex-row {
          box-shadow: var(--nm-in);
          flex: 1 1 0px;
          padding: 0.5em;
          gap: 1em;
          justify-content: space-between;
          > * {
            min-width: 40px;
            flex: 1 1 0px;
            overflow: visible;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.5em;
          }
          [title="hero"],
          [title="queue"] {
            justify-content: start;
          }
          [data-sort] {
            span:before,
            span:after {
              right: -18px !important;
            }
          }
          span {
            position: relative;
            display: inline-block;
            text-transform: capitalize;
            line-height: 15px;
          }
          img {
            height: 32px;
            width: 32px;
            border-radius: 50%;
          }
        }
      }
      .queue-entries,
      .hunter-entries {
        > .flex-row > div {
          overflow-x: scroll;
          -ms-overflow-style: none;
          scrollbar-width: none;
          font-size: var(--fs-bold);
        }
        > .flex-row > div::-webkit-scrollbar {
          display: none;
        }
      }
      > span {
        margin: 1em 0;
        font-size: var(--sf-default);
        width: 100%;
        text-align: start;
      }
    }
  }

  .stat-filters {
    .flex-row {
      font-size: var(--fs-small);
      box-shadow: none !important;
    }
  }
}

.placements-button {
  box-shadow: var(--nm-out);
  color: white;
  font-size: 0.7em;
  background: var(--primary-dark);
  text-align: center;
  border-radius: 1em;
  padding: 0.5em;
  cursor: pointer;
}
.placements-button:hover {
  color: var(--sv-purple-light-complement);
}
.placements-button:active,
.placements-button:focus {
  box-shadow: var(--nm-in);
}

.placements-list {
  background: var(--primary-dark);
  border-radius: 0.5em;
  box-shadow: var(--nm-out);
  padding: 1em;
  gap: 0.5em;
  position: absolute;
  top: 0;
  left: calc(100% + 1em);
  z-index: 100;
  .placement {
    width: 100%;
    > * {
      flex: 1 1 0px;
      text-align: center;
    }
    :first-child {
      justify-content: flex-start;
    }
    display: flex;
    gap: 1em;
  }
}
.placements-list[hidden] {
  display: none;
}

.dm-time-warning {
  position: relative;
  overflow: visible !important;
}
.dm-time-warning:after {
  content: "!";
  color: red;
  word-break: keep-all;
  font-weight: bold;
  position: absolute;
  font-size: var(--fs-small);
  top: calc(var(--fs-small) * -0.5);
  right: calc(-1 * var(--fs-small));
}
/* .dm-time-warning:hover:after {
  content: "Deathmatch times are not accurate"
} */

.appear {
  transition: all 1s ease;
  opacity: 1 !important;
}

.minify {
  transition: all 0.5s ease;
  font-size: var(--fs-default) !important;
  h1 {
    font-size: 3em !important;
  }
}

.minify ~ .search-icon {
  height: 1.1em !important;
  font-size: 1.1em !important;
}

#player-page-info {
  width: 100%;
  flex-grow: 1;
  margin-top: 2em;
}

.link-color {
  color: white;
  text-decoration: none;
  * {
    color: white;
    text-decoration: none;
  }
}
.link-color:hover {
  * {
    transition: all 0.5s linear;
    color: var(--sv-purple-light-complement);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes appear {
  0% {
    height: 0;
    opacity: 0;
  }

  100% {
    height: fit-content;
    opacity: 1;
  }
}

@media screen and (max-width: 1600px) {
  .unranked-filters,
  .ranked {
    margin-bottom: 2em;
  }
  .data-group-total {
    :last-child {
      align-items: center !important;
    }
  }
}

@media screen and (max-width: 1254px) {
  .leaderboard {
    .stat {
      font-size: var(--sf-default);

      img {
        width: 3em;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  :root {
    --fs-default: 0.85em;
    --fs-ui: 1em;
    --fs-title: 1.5em;
    --fs-heading: 2.5em;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: center;
  }

  body {
    width: 100vw;
  }

  .container {
    padding: 1em;
    width: 100vw;
    max-width: 100vw;
  }

  .header {
    .title {
      display: flex;
      font-size: var(--fs-bold);
      word-break: keep-all;
    }
    .links {
      flex-grow: 0;
      font-size: var(--fs-small);
    }
  }

  .footer {
    h3 {
      font-size: var(--fs-ui);
    }
    a,
    p {
      font-size: var(--fs-default);
      text-align: center;
    }
  }

  /* Tierlist */

  .kd {
    > div {
      > :first-child {
        font-size: calc(var(--fs-ui)) !important;
      }
    }
  }

  /* leaderboard */
  .leaderboard {
    .entry {
      .cell {
        flex: 1 1 0px !important;
      }
      > :first-child {
        /* flex-grow: 0 !important; */
        justify-content: center !important;
        flex: 0 1 calc(var(--fs-ui) * 2) !important;
      }
    }
  }

  .search {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hunter-list {
    width: calc(100vw - 4em) !important;
    left: 1em;
  }

  .entry.entry-list {
    > div:first-child {
      flex-grow: 0 !important;
    }
  }

  .wrapper {
    h4 {
      text-align: left;
    }
  }

  .radio-toggles {
    svg {
      height: 18px !important;
      width: 18px !important;
    }
  }

  .fav-hunter-portrait {
    img {
      height: 4em !important;
    }
  }

  .player-summary,
  .fav-hunters {
    flex-direction: column !important;
  }

  .sub-hunters {
    flex-direction: row !important;
    width: 100% !important;
    .sub-hunter-portrait {
      justify-content: center !important;
    }
  }

  .player-summary {
    > * {
      padding: 0.2em 0.5em !important;
    }
  }

  .stat-filters {
    * {
      font-size: var(--fs-bold) !important;
    }
  }

  .wrapper {
    width: 225% !important;
  }

  .sub-hunter-stats {
    > .flex-row {
      display: flex !important;
      justify-content: center !important;
      gap: 1.5em;
      * {
        flex: unset !important;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  /* Tierlist */
  .title {
    img {
      width: var(--fs-heading) !important;
      height: auto !important;
    }
    span {
      display: none !important;
    }
  }

  .tierlist-sort {
    margin-top: 1em;
    .list-toggle {
      top: calc(-2em - 18px) !important;
    }
  }

  /* Player */
}
