:root {
  /* --primary: #f900d6; */
  --primary: var(--sv-purple);
  --primary-complement: #a5fe8e;
  --primary-dark: #101415;
  --primary-dark-op: #101415f0;
  --grey: #292a2d;
  --white: #ffffff;
  --greyLight-1: #e4ebf5;
  --greyLight-2: #c8d0e7;
  --greyLight-3: #bec8e4;
  --greyDark: #9baacf;
  --sv-pink: #f900d6;
  --sv-pink-stripe: #f900d610;
  --sv-purple: #9724f0;
  --sv-purple-stripe: #9724f010;
  --sv-purple-light: #dfbdfa;
  --sv-purple-complement: #7df024;
  --sv-purple-light-complement: #d9fbbd;
  --sv-purple-light-complement-fade: #e9fdd9;
  --nm-in: 0.1em 0.1em 0.3em var(--grey), -0.1em -0.1em 0.3em black;
  --nm-out: inset 0.1em 0.1em 0.3em var(--grey), inset -0.1em -0.1em 0.3em black;
  /* user-select: none; */
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

img {
  -webkit-user-drag: none;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  caret-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary);
}

a {
  color: var(--greyDark);
}

html {
  box-sizing: border-box;
  overflow-y: scroll;
  background: var(--primary-dark);
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  color-scheme: dark;
}

.container {
  min-height: 100vh;
  height: 100vh;
  width: 75em;
  max-width: 75vw;
  padding: 5px;
  display: flex;
  color: white;
}

.components {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.header {
  display: flex;
  justify-content: start;
  align-items: center;
  border-bottom: 1px solid var(--primary);
  gap: 1em;
  .links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: end;
    height: 100%;
    gap: 0.5em;
    font-size: 1.2em;
    margin-bottom: 0.5em;
  }
  .title {
    font-size: 2.5em;
    color: white;
    text-decoration: none;
    img {
      height: 1.5em;
    }
  }
}

.main {
  flex-grow: 1;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  h1 {
    font-size: 3em;
  }
}

.footer {
  padding: 2em 0 1em 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  gap: 1em;
  .border {
    height: 0px;
    width: 100%;
    border-top: 1px solid var(--primary);
  }

  .info-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .info-column {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1em;
  }

  .info-text {
    font-size: 0.85em;
  }
}

.ranked,
.unranked {
  margin-bottom: 1em;
  width: 100%;
}

.unranked {
  /* display: none; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 0;
  opacity: 0;
  user-select: none;
  visibility: hidden;
  transition: all 0s ease;
}

.unranked.visible {
  visibility: visible;
  height: fit-content;
  display: flex;
  opacity: 1;
  transition: all 1.3s;
}

.unranked-filters {
  display: flex;
  gap: 1em;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.filter-section {
  display: flex;
  flex-direction: column;
  gap: 3em;
  width: 100%;
}

.filter-section.main {
  width: 65%;
}

.filter-section.sub {
  width: 35%;
  font-size: 0.8em;
}

.queue-radio {
  font-weight: bold;
}

.hunter-select {
  position: relative;
  display: flex;
  gap: 2.5em;
  width: 100%;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  input {
    display: none;
  }
  .hunter-name {
    /* flex-grow: 1; */
    /* width: 100%; */
    /* position: relative; */
    transition: all 0.5s ease;
    text-align: center;
    font-size: 6.5em;
    font-weight: bold;
    font-style: italic;
  }

  .hunter-list {
    position: absolute;
    top: 100%;
    z-index: 100;
    border-radius: 2em;
    width: 100%;
    background: var(--primary-dark-op);
    box-shadow: inset 0.1em 0.1em 0.3em var(--grey),
      inset -0.1em -0.1em 0.3em black;
    /* height: 0; */
    padding: 1em;
    flex-direction: column;
    display: none;
    gap: 1em;
    animation: appear 3s ease;
    cursor: default;

    #close-hunter-list {
      position: absolute;
      right: 1em;
      top: 1em;
      transition: all 0.5s ease;
      cursor: pointer;
      svg {
        width: 16px;
        height: 16px;
      }

      path {
        stroke: white;
      }
    }

    #close-hunter-list:hover {
      path {
        stroke: var(--primary-complement);
      }
    }

    div {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5em;
      justify-content: flex-start;
      align-items: center;
      gap: 1em;
    }

    div:first-child {
      justify-content: center;
    }

    .hunter-button {
      flex: 1 1 0px;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      justify-content: flex-start;
      border-radius: 3px;
      cursor: pointer;
      * {
        transition: all 0.5s ease;
      }
      img {
        width: 32px;
        border-radius: 50%;
      }
    }

    .hunter-button:hover {
      * {
        color: var(--sv-purple-light-complement);
      }
    }

    .hunter-button:active {
      * {
        color: var(--primary-complement);
      }
    }

    /* div:nth-child(2) > .hunter-button:hover {
      color: var(--primary-complement);
    } */
  }

  .hunter-list.visible {
    animation: appear 3s ease;
    display: flex;
  }

  @keyframes appear {
    0% {
      height: 0;
      opacity: 0;
    }

    100% {
      height: fit-content;
      opacity: 1;
    }
  }

  .hunter-portrait {
    height: 6.5em;
    position: relative;
    display: flex;
    img {
      height: 7em;
      width: 7em;
      border-radius: 50%;
    }
  }
}

.hunter-portrait::after {
  content: " ";
  position: absolute;
  top: 0;
  right: -8px;
  border: 8px solid transparent;
  bottom: calc(1em - 2px);
  border-top-color: white;
}

.hunter-portrait > img[hidden]::after {
  top: 1;
}

.hunter-select:hover {
  .hunter-name {
    color: var(--sv-purple-light-complement);
    /* box-shadow: inset 0.1em 0.1em 0.3em var(--grey),
      inset -0.1em -0.1em 0.3em black; */
  }
  > .hunter-portrait::after {
    transition: all 0.5s linear;
    /* border-width: 10px; */
    border-top-color: var(--sv-purple-light-complement);
  }
}

.leaderboard {
  width: 100%;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  #entries {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    .entry {
      display: flex;
      gap: 1em;
      width: 100%;

      .stat {
        font-size: 1.5em;

        img {
          width: 5em;
          padding: 0 0.5em 0 0.5em;
        }
      }

      .cell {
        flex: 1 1 0px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }

      .playername {
        text-decoration: none;
        color: white;
        font-size: 2em;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: all 0.5s ease;
        img {
          width: 32px;
          height: 32px;
          margin-left: 5px;
        }

        .playername:hover {
          transition: all 0.5s ease;
          color: var(--primary-complement);
        }
      }

      .cell:nth-child(1) {
        font-size: 2em;
        justify-content: flex-end;
      }

      .cell:nth-child(3) {
        justify-content: center;
      }
    }
  }
}

#spinner:not([hidden]) {
  flex-grow: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#spinner::after {
  content: "";
  width: 80px;
  height: 80px;
  border: 2px solid white;
  border-top: 3px solid var(--sv-purple);
  border-radius: 100%;
  will-change: transform;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1600px) {
  .unranked-filters,
  .ranked {
    margin-bottom: 2em;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 100vw;
    max-width: 100vw;
  }
}

@media screen and (max-width: 1200px) {
  .leaderboard {
    .stat {
      font-size: 1.2em;

      img {
        width: 3em;
      }
    }

    .playername {
      font-size: 1.5em;
    }
  }
}

.tierlist {
  margin: 1em 0 1em 0;
  width: 100%;
  flex-grow: 1;
  justify-content: start;
  gap: 1em;

  .filter-selection {
    font-weight: bold;
    margin-bottom: 1em;
  }

  #entries {
    gap: 1em;
    width: 100%;
    > * {
      flex: 1 1 0px;
    }
    .entry {
      background: var(--sv-purple-stripe);
      display: flex;
      gap: 1em;
      padding: 0.4em 1em 0.4em 1em;
      align-items: center;
      width: 100%;
      border-radius: 2em;
      opacity: 0;
      .kd,
      .wr,
      .pr {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.2em;
      }

      > :first-child {
        display: flex;
        font-size: 2em;
        align-items: end;
        justify-content: end;
      }

      .kd {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: end;

        > div {
          height: 100%;
          /* flex: 1 1 0px; */
          gap: 0.2em;
          display: flex;
          flex-direction: column;
          /* flex-grow: 3; */
          justify-content: flex-end;
          > :first-child {
            display: flex;
            justify-content: center;
            align-items: center;
            /* font-family: sans-serif; */
            font-size: 18px;
            flex-grow: 1;
            font-weight: bold;
          }
        }
      }

      .ring {
        height: 4em;
        width: 4em;
        max-height: 4em;
      }
      > * {
        flex: 1 1 0px;
      }

      .pr {
        align-items: start;
        /* flex-grow: 2; */
      }

      .title {
        cursor: pointer;
        display: flex;
        flex-shrink: 0;
        gap: 0.5em;
        font-size: 2em;
        font-weight: bold;
        font-style: italic;
        align-items: center;
        justify-content: start;
        color: white;
        text-decoration: none;
        transition: all 0.5s ease;
        img {
          height: 1.5em;
          width: 1.5em;
          border-radius: 50%;
        }
      }

      .title:hover {
        color: var(--primary-complement);
      }
    }
    .entry.entry-list {
      padding: 0;
      border-radius: 0;
      box-shadow: var(--nm-in);
      background: transparent;
      * {
        font-size: 1.2em;
      }

      div {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .entry.striped {
      background: var(--sv-purple-stripe);
    }
  }

  #entries:has(.entry-list) {
    gap: 3px;
  }

  .tierlist-sort {
    position: relative;
    width: 100%;
    gap: 1em;
    padding: 0 1em 0 1em;
    > div {
      display: flex;
      flex: 1 1 0px;
      position: relative;
    }

    span {
      position: relative;
    }

    > :first-child {
      font-weight: bold;
    }

    > :nth-child(1),
    > .sort-name,
    > .sort-kd {
      justify-content: flex-end;
    }
    > .sort-wr {
      justify-content: center;
    }
    > .sort-pr {
      justify-content: flex-start;
    }
  }

  .tierlist-sort:has(~ #entries > .entry-list) {
    > div {
      justify-content: center;
    }
    > div:last-of-type {
      display: none;
    }
    .sort-name {
      justify-content: start;
    }
    > div:first-of-type {
      justify-content: end;
    }
  }
  .list-toggle {
    padding: 1em 0em;
    position: absolute;
    right: 0;
    top: calc(-24px - 2.5em);
  }
}

.radio-toggles {
  display: flex;
  gap: 0.5em;
  input {
    display: none;
  }
  input:checked + label {
    box-shadow: var(--nm-in);
    * {
      stop-color: var(--primary-complement);
      fill: var(--primary-complement);
    }
  }
  label {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    border-radius: 0.5em;
    box-shadow: var(--nm-out);
    svg {
      height: 24px;
      width: 24px;
    }
    * {
      fill: white;
    }
  }
  label:hover {
    transition: all 0.5 linear;
    box-shadow: inset 0.1em 0.1em 0.2em var(--grey),
      inset -0.1em -0.1em 0.2em black;
    * {
      stop-color: var(--sv-purple-light-complement);
      fill: var(--sv-purple-light-complement);
    }
  }
}

.neumorphic {
  box-shadow: inset 0.1em 0.1em 0.3em var(--grey),
    inset -0.1em -0.1em 0.3em black;
}

/*  SEARCH  */
.search {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  .search-field {
    position: relative;
    display: flex;
    align-items: center;
    input {
      width: 13em;
      height: 2.3em;
      border: none;
      display: flex;
      justify-content: center;
      box-shadow: var(--nm-in);
      border-radius: 0.5em;
      font-size: 1.3em;
      padding-left: 2.3em;
      background: none;
      font-family: inherit;
      color: var(--greyDark);
    }

    input::placeholder {
      color: var(--greyLight-3);
    }

    input:focus {
      outline: none;
      box-shadow: var(--nm-out);
      caret-color: white;
      + .icon {
        color: var(--primary);
      }
    }

    .search-icon {
      height: 1.3em;
      position: absolute;
      font-size: 1.3em;
      padding: 0 0.5em;
      display: flex;
      color: var(--greyDark);
      transition: 0.3s ease;

      svg {
        fill: var(--greyDark);
      }
    }

    .search-results {
      visibility: hidden;
      padding: 8px;
      position: absolute;
      overflow-y: scroll;
      overflow-x: visible;
      flex-direction: column;
      display: flex;
      gap: 8px;
      top: 100%;
      left: 0;
      background: var(--primary-dark);
      .search-result {
        cursor: pointer;
      }
      .search-result:hover {
        color: var(--sv-purple-light-complement);
      }
    }

    .search-input:focus ~ .search-results,
    .search-results:hover,
    .search-results:focus {
      min-height: 6px;
      max-height: 12em;
      min-width: 13em;
      width: 100%;
      visibility: visible;
      box-shadow: var(--nm-in);
    }
  }
}

.player-name {
  font-size: 4em;
  font-style: italic;
  font-weight: bold;
}

.player-info {
  width: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
  .player-summary {
    position: relative;
    gap: 1em;
    width: inherit;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    display: flex;
    .stat-toggles {
      padding: 1em;
      position: absolute;
      right: 0;
      top: 0;
    }
    > * {
      position: relative;
      display: flex;
      flex-direction: column;
      border-radius: 0.5em;
      padding: 0.5em 1em;
      box-shadow: var(--nm-out);
      gap: 0.5em;
      opacity: 0;
    }

    > .hunter-summary {
      flex-grow: 3;
      .fav-hunters {
        flex-grow: 2;
        height: 100%;
        gap: 1em;
        > * {
          flex: 1 1 0px;
        }
      }
      .fav-hunter-info {
        height: 100%;
        flex-grow: 2;
        gap: 1em;
        .fav-hunter-header {
          width: 100%;
          justify-content: space-between;
          .fav-hunter-portrait {
            justify-content: start;
            align-items: center;
            gap: 1em;
            span {
              font-size: 4em;
            }
            img {
              height: 6em;
              border-radius: 50%;
            }
          }
          .fav-hunter-ratings {
            padding-right: 2em;
            gap: 1em;
            > * {
              flex: 1 1 0px;
              flex-grow: 1;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
            }
            svg {
              width: 5em;
              height: 5em;
            }
          }
        }

        .fav-hunter-stats {
          flex-grow: 1;
          width: 100%;
          gap: 1em;
          margin-bottom: 0.5em;
          > * {
            flex-grow: 1;
            width: 100%;
            > div {
              flex: 1 1 0px;
              align-items: center;
              justify-content: flex-start;
              gap: 3px;
              font-size: 1.3em;
              span {
                font-size: 1.3em;
              }
              span:before {
                content: ": ";
              }
              img {
                height: 1.5em;
                width: auto;
              }
            }
          }
        }
      }

      .sub-hunters {
        height: 100%;
        flex-grow: 1;
        gap: 1em;
        .sub-hunter {
          gap: 0.2em;
          width: 100%;
        }

        .sub-hunter-header {
          width: 100%;
          justify-content: start;
          .sub-hunter-portrait {
            justify-content: start;
            align-items: center;
            gap: 0.7em;
            span {
              font-size: 1.7em;
              * {
                color: white;
                text-decoration: none;
              }
            }
            span:hover {
              * {
                transition: all 0.5s linear;
                color: var(--sv-purple-light-complement);
              }
            }
            img {
              height: 3em;
              border-radius: 50%;
            }
          }
        }

        .sub-hunter-stats {
          flex-grow: 1;
          width: 100%;
          gap: 1em;
          margin-bottom: 0.5em;
          > * {
            flex-grow: 1;
            width: 100%;
            > div {
              flex: 1 1 0px;
              align-items: center;
              justify-content: flex-start;
              gap: 3px;
              font-size: 1.2em;
              span {
                font-size: 1.2em;
              }
              span:before {
                content: ": ";
              }
              img {
                width: 1.2em;
                height: auto;
              }
            }
          }
        }
      }
    }
    > .stats-summary {
      flex-grow: 1;
      transition-delay: 0.3s;
      justify-content: start;
      position: relative;
      #summary-content {
        flex-grow: 1;
        transition-delay: 0.3s;
        justify-content: center;
        position: relative;
        display: flex;
        flex-direction: column;
        .data-group-total {
          display: flex;
          align-items: center;
          gap: 1em;
          > :first-child {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            /* height: 5em; */
          }
          > :last-child {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            svg {
              width: 5em;
            }
          }
        }
      }
    }

    h3 {
      text-align: start;
    }
  }

  .stat-list {
    width: 100%;
    display: flex;
    overflow-x: scroll;
    opacity: 0;
    transition-delay: 0.6s;
    .wrapper {
      width: 175%;
      align-self: baseline;
      .queue-entries,
      .hunter-entries {
        > .flex-row > div {
          overflow-x: scroll;
          -ms-overflow-style: none;
          scrollbar-width: none;
        }
        > .flex-row > div::-webkit-scrollbar {
          display: none;
        }
      }
      h4 {
        box-shadow: var(--nm-in);
      }
      .entries {
        width: inherit;
        display: flex;
        flex-direction: column;
        gap: 3px;
        > * {
          width: 100%;
        }
        .flex-row {
          box-shadow: var(--nm-in);
          /* border-radius: 0.5em; */
          flex: 1 1 0px;
          padding: 0.5em;
          gap: 1em;
          justify-content: space-between;
          > * {
            min-width: 40px;
            flex: 1 1 0px;
            overflow: visible;
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 0.5em;
          }
          [data-sort] {
            span:before,
            span:after {
              right: -20px !important;
            }
          }
          span {
            position: relative;
            display: inline-block;
            text-transform: capitalize;
            line-height: 15px;
          }
          img {
            height: 32px;
            width: 32px;
            border-radius: 50%;
          }
        }
      }
      > span {
        margin: 1em 0;
        font-size: 1.2em;
        width: 100%;
        text-align: start;
      }
    }
  }
}

.appear {
  transition: all 1s ease;
  opacity: 1 !important;
}

.minify {
  transition: all 0.5s ease;
  font-size: 1em !important;
  h1 {
    font-size: 3em !important;
  }
}

.minify ~ .search-icon {
  height: 1.1em !important;
  font-size: 1.1em !important;
}

#player-page-info {
  width: 100%;
  flex-grow: 1;
  margin-top: 2em;
}

.link-color {
  color: white;
  text-decoration: none;
  * {
    color: white;
    text-decoration: none;
  }
}
.link-color:hover {
  * {
    transition: all 0.5s linear;
    color: var(--sv-purple-light-complement);
  }
}
