:root {
  /* --primary: #f900d6; */
  --primary: var(--sv-purple);
  --primary-complement: #a5fe8e;
  --primary-dark: #101415;
  --primary-dark-op: #101415f0;
  --grey: #292a2d;
  --white: #ffffff;
  --greyLight-1: #e4ebf5;
  --greyLight-2: #c8d0e7;
  --greyLight-3: #bec8e4;
  --greyDark: #9baacf;
  --sv-pink: #f900d6;
  --sv-pink-stripe: #f900d610;
  --sv-purple: #9724f0;
  --sv-purple-stripe: #9724f010;
  --sv-purple-light: #dfbdfa;
  --sv-purple-complement: #7df024;
  --sv-purple-light-complement: #d9fbbd;
  --sv-purple-light-complement-fade: #e9fdd9;
  /* user-select: none; */
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

img {
  -webkit-user-drag: none;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  caret-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary);
}

a {
  color: var(--greyDark);
}

html {
  box-sizing: border-box;
  overflow-y: scroll;
  background: var(--primary-dark);
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  color-scheme: dark;
}

.container {
  min-height: 100vh;
  height: 100vh;
  width: 75em;
  max-width: 75vw;
  padding: 5px;
  display: flex;
  color: white;
}

.components {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--primary);

  .links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5em;
    font-size: 1.2em;
    margin-bottom: 0.5em;
  }
  .title {
    font-size: 2.5em;
    color: white;
    text-decoration: none;
    img {
      height: 1.5em;
    }
  }
}

.main {
  flex-grow: 1;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  h1 {
    font-size: 3em;
  }
}

.footer {
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  gap: 1em;
  .border {
    height: 0px;
    width: 100%;
    border-top: 1px solid var(--primary);
  }

  .info-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .info-column {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1em;
  }

  .info-text {
    font-size: 0.85em;
  }
}

.ranked,
.unranked {
  margin-bottom: 1em;
  width: 100%;
}

.unranked {
  /* display: none; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 0;
  opacity: 0;
  user-select: none;
  visibility: hidden;
  transition: all 0s ease;
}

.unranked.visible {
  visibility: visible;
  height: fit-content;
  display: flex;
  opacity: 1;
  transition: all 1.3s;
}

.unranked-filters {
  display: flex;
  gap: 1em;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.filter-section {
  display: flex;
  flex-direction: column;
  gap: 3em;
  width: 100%;
}

.filter-section.main {
  width: 65%;
}

.filter-section.sub {
  width: 35%;
  font-size: 0.8em;
}

.hunter-select {
  position: relative;
  display: flex;
  gap: 2.5em;
  width: 100%;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  input {
    display: none;
  }
  .hunter-name {
    /* flex-grow: 1; */
    /* width: 100%; */
    text-align: center;
    font-size: 6.5vw;
    font-weight: bold;
    font-style: italic;
  }

  .hunter-list {
    position: absolute;
    top: 100%;
    z-index: 100;
    border-radius: 2em;
    width: 100%;
    background: var(--primary-dark-op);
    box-shadow: inset 0.1rem 0.1rem 0.3rem var(--grey),
      inset -0.1rem -0.1rem 0.3rem black;
    /* height: 0; */
    padding: 1em;
    flex-direction: column;
    display: none;
    gap: 1em;
    animation: appear 3s ease;
    cursor: default;

    #close-hunter-list {
      position: absolute;
      right: 1em;
      top: 1em;
      transition: all 0.5s ease;
      cursor: pointer;
      svg {
        width: 16px;
        height: 16px;
      }

      path {
        stroke: white;
      }
    }

    #close-hunter-list:hover {
      path {
        stroke: var(--primary-complement);
      }
    }

    div {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5em;
      justify-content: flex-start;
      align-items: center;
      gap: 1em;
    }

    div:first-child {
      justify-content: center;
    }

    .hunter-button {
      flex: 1 1 0px;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      justify-content: flex-start;
      border-radius: 3px;
      cursor: pointer;
      * {
        transition: all 0.5s ease;
      }
      img {
        width: 32px;
        border-radius: 50%;
      }
    }

    .hunter-button:hover {
      * {
        color: var(--sv-purple-light-complement);
      }
    }

    .hunter-button:active {
      * {
        color: var(--primary-complement);
      }
    }

    /* div:nth-child(2) > .hunter-button:hover {
      color: var(--primary-complement);
    } */
  }

  .hunter-list.visible {
    animation: appear 3s ease;
    display: flex;
  }

  @keyframes appear {
    0% {
      height: 0;
      opacity: 0;
    }

    100% {
      height: fit-content;
      opacity: 1;
    }
  }

  .hunter-portrait {
    display: none;
    img {
      height: 7vw;
      width: 7vw;
      border-radius: 50%;
    }
  }
}

.leaderboard {
  width: 100%;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  #entries {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    .entry {
      display: flex;
      gap: 1em;
      width: 100%;

      .stat {
        font-size: 1.5em;

        img {
          width: 4em;
          padding: 0 0.5em 0 0.5em;
        }
      }

      .cell {
        flex: 1 1 0px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }

      .playername {
        text-decoration: none;
        color: white;
        font-size: 2em;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: all 0.5s ease;
        img {
          width: 32px;
          height: 32px;
          margin-left: 5px;
        }

        .playername:hover {
          transition: all 0.5s ease;
          color: var(--primary-complement);
        }
      }

      .cell:nth-child(1) {
        font-size: 2em;
        justify-content: flex-end;
      }

      .cell:nth-child(3) {
        justify-content: center;
      }
    }
  }
}

#spinner:not([hidden]) {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#spinner::after {
  content: "";
  width: 80px;
  height: 80px;
  border: 2px solid white;
  border-top: 3px solid var(--sv-purple);
  border-radius: 100%;
  will-change: transform;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1600px) {
  .unranked-filters,
  .ranked {
    margin-bottom: 2em;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 100vw;
    max-width: 100vw;
  }
}

@media screen and (max-width: 1200px) {
  .leaderboard {
    .stat {
      font-size: 1.2em;

      img {
        width: 3em;
      }
    }

    .playername {
      font-size: 1.5em;
    }
  }
}

.tierlist {
  margin: 1em 0 1em 0;
  width: 100%;
  flex-grow: 1;
  justify-content: start;
  gap: 1em;

  .filter-selection {
    font-weight: bold;
    margin-bottom: 1em;
  }

  #entries {
    gap: 1em;
    width: 100%;
    > * {
      flex: 1 1 0px;
    }
    .entry {
      background: var(--sv-purple-stripe);
      display: flex;
      gap: 1em;
      padding: 0.4em 1em 0.4em 1em;
      align-items: center;
      width: 100%;
      border-radius: 2em;
      .kd,
      .wr,
      .pr {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.2em;
      }

      > :first-child {
        display: flex;
        font-size: 2em;
        align-items: end;
        justify-content: end;
      }

      .kd {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: end;

        > div {
          height: 100%;
          /* flex: 1 1 0px; */
          gap: 0.2em;
          display: flex;
          flex-direction: column;
          /* flex-grow: 3; */
          justify-content: flex-end;
          > :first-child {
            display: flex;
            justify-content: center;
            align-items: center;
            /* font-family: sans-serif; */
            font-size: 18px;
            flex-grow: 1;
            font-weight: bold;
          }
        }
      }

      .ring {
        height: 4em;
        width: 4em;
        max-height: 4em;
      }
      > * {
        flex: 1 1 0px;
      }

      .pr {
        align-items: start;
        /* flex-grow: 2; */
      }

      .title {
        cursor: pointer;
        display: flex;
        flex-shrink: 0;
        gap: 0.5em;
        font-size: 2em;
        font-weight: bold;
        font-style: italic;
        align-items: center;
        justify-content: start;
        color: white;
        text-decoration: none;
        transition: all 0.5s ease;
        img {
          height: 1.5em;
          width: 1.5em;
          border-radius: 50%;
        }
      }

      .title:hover {
        color: var(--primary-complement);
      }
    }

    .entry.striped {
      background: var(--sv-pink-stripe);
    }
  }

  .tierlist-sort {
    width: 100%;
    gap: 1em;
    padding: 0 1em 0 1em;
    > div {
      display: flex;
      flex: 1 1 0px;
      position: relative;
    }

    span {
      position: relative;
    }

    > :first-child {
      font-weight: bold;
    }

    > :nth-child(1),
    > .sort-name,
    > .sort-kd {
      justify-content: flex-end;
    }
    > .sort-wr {
      justify-content: center;
    }
    > .sort-pr {
      justify-content: flex-start;
    }

    > [data-sort] {
      cursor: pointer;

      span:before,
      span:after {
        content: " ";
        position: absolute;
        right: -20px;
        border: 6px solid transparent;
      }
    }

    > [data-sort] > span:hover::before {
      border-bottom-color: var(--primary-complement);
    }
    > [data-sort] > span:hover::after {
      border-top-color: var(--primary-complement);
    }

    > [data-sort] {
      span:before {
        bottom: calc(1em - 2px);
        border-bottom-color: white;
      }
    }

    > [data-sort] {
      span:after {
        top: calc(1em - 2px);
        border-top-color: white;
      }
    }

    > [data-sort="asc"] {
      color: var(--primary-complement);
      span:before {
        bottom: calc(1em - 4px);
        border: 8px solid transparent;
        border-bottom-color: var(--primary-complement);
      }
      span:after {
        visibility: hidden;
      }
    }

    > [data-sort="desc"] {
      color: var(--primary-complement);
      span:before {
        visibility: hidden;
      }
      span:after {
        bottom: calc(1em - 4px);
        border: 8px solid transparent;
        border-top-color: var(--primary-complement);
      }
    }
  }
}

.neumorphic {
  box-shadow: inset 0.1rem 0.1rem 0.3rem var(--grey),
    inset -0.1rem -0.1rem 0.3rem black;
}
