.progress_gradients {
  height: 0px;
  width: 0px;
}

:root {
  --hue: 184;
  --bg: var(--grey);
  --fg: var(--grey);
}
.ring {
  display: block;
  inset: 0;
  width: 100%;
  box-sizing: border-box;
  height: auto;
}

.ring-stroke {
  animation-duration: 0.6s;
  animation-timing-function: ease-out;
  stroke: url("#ring");
}

.ring-track {
  stroke: var(--grey);
}

.ring-highest-entry {
  stroke: url("#ring-highest-entry");
}
