.filter-selection {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    .radio-group {
      justify-content: space-around;
      align-items: center;
      display: flex;
      position: relative;
      width: inherit;

      & > * {
        flex: 1 1 0px;
      }
    }

    .control-background {
      position: absolute;
      left: 0;
      height: 2.2rem;
      width: 8rem;
      border-radius: 0.8rem;
      box-shadow: 0.1rem 0.1rem 0.3rem var(--grey), -0.1rem -0.1rem 0.3rem black;
      pointer-events: none;
      transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    }

    .queue-radio > .control-background {
      width: calc(100% / 4);
    }
    #queue-0:checked ~ .control-background {
      transform: translateX(100%);
    }
    #queue-1:checked ~ .control-background {
      transform: translateX(200%);
    }

    .stat-radio {
      width: 100%;
    }
    .stat-radio > .control-background {
      width: calc(100% / 5);
    }
    #stat-0:checked ~ .control-background {
      transform: translateX(0);
    }
    #stat-1:checked ~ .control-background {
      transform: translateX(100%);
    }
    #stat-2:checked ~ .control-background {
      transform: translateX(200%);
    }
    #stat-3:checked ~ .control-background {
      transform: translateX(300%);
    }
    #stat-4:checked ~ .control-background {
      transform: translateX(400%);
    }

    .mode-radio {
      width: 100%;
    }
    .mode-radio > .control-background {
      width: calc(100% / 3);
      height: 125%;
    }
    #mode-0:checked ~ .control-background {
      transform: translateX(0);
    }
    #mode-1:checked ~ .control-background {
      transform: translateX(100%);
    }
    #mode-2:checked ~ .control-background {
      transform: translateX(200%);
    }

    .time-radio {
      width: 100%;
    }
    .time-radio > .control-background {
      width: calc(100% / 2);
    }
    #time-0:checked ~ .control-background {
      transform: translateX(0);
    }
    #time-1:checked ~ .control-background {
      transform: translateX(100%);
    }
  }

  input {
    display: none;
  }

  label {
    flex: 1 1 0px;
    cursor: pointer;
    width: 7vw;
    text-align: center;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
    font-size: var(--fs-bold) !important;
    * {
      font-size: var(--fs-bold) !important;
    }
    .flex-col {
      gap: 0.5em;
    }
    svg,
    img {
      fill: white;
      height: 2em;
    }
  }

  .hunter-select:hover,
  label:hover {
    color: var(--sv-purple-light-complement);
    .hunter-name {
      color: var(--sv-purple-light-complement);
    }
  }

  .radio-group > input:checked + label {
    transition: all 0.5s ease;
    color: var(--primary-complement);
  }
}
