:root {
  --primary: #f900d6;
  --primary-complement: #a5fe8e;
  --primary-dark: #101415;
  --grey: #202124;
  --white: #ffffff;
  --greyLight-1: #e4ebf5;
  --greyLight-2: #c8d0e7;
  --greyLight-3: #bec8e4;
  --greyDark: #9baacf;
  --sv-purple: #9724f0;
  --sv-purple-light: #dfbdfa;
  --sv-purple-complement: #7df024;
  --sv-purple-light-complement: #d9fbbd;
  --sv-purple-light-complement-fade: #e9fdd9;
  /* user-select: none; */
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

img {
  -webkit-user-drag: none;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  caret-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary);
}

a {
  color: var(--greyDark);
}

html {
  box-sizing: border-box;
  overflow-y: scroll;
  background: var(--dark);
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  color-scheme: dark;
}

.container {
  min-height: 100vh;
  height: 100vh;
  width: 75em;
  max-width: 75vw;
  padding: 5px;
  display: flex;
  color: white;
}

.components {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 7em;
  border-bottom: 1px solid var(--primary);

  .links {
    display: flex;
    gap: 0.5em;
    font-size: 1.2em;
  }
  .title {
    font-size: 2.5em;
    color: white;
    text-decoration: none;
    img {
      height: 1.5em;
    }
  }
}

.main {
  flex-grow: 1;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  h1 {
    font-size: 3em;
  }
}

.footer {
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  gap: 1em;
  .border {
    height: 0px;
    width: 100%;
    border-top: 1px solid var(--primary);
  }

  .info-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .info-column {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1em;
  }

  .info-text {
    font-size: 0.85em;
  }
}

.ranked,
.unranked {
  margin-bottom: 1em;
}

.ranked {
  .queue-radio {
    gap: 1em;
  }
}

.unranked {
  /* display: none; */
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 0;
  opacity: 0;
  user-select: none;
  visibility: hidden;
  transition: all 0s ease;
}

.unranked.visible {
  visibility: visible;
  height: fit-content;
  display: flex;
  opacity: 1;
  transition: all 1.3s;
}

.unranked-filters {
  display: flex;
  gap: 1em;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.filter-section {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.filter-section.main {
  width: 65%;
}

.filter-section.sub {
  width: 35%;
  font-size: 0.8em;
}

.hunter-select {
  position: relative;
  display: flex;
  gap: 2.5em;
  width: 100%;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  input {
    display: none;
  }
  .hunter-name {
    /* flex-grow: 1; */
    /* width: 100%; */
    text-align: center;
    font-size: 6.5vw;
    font-weight: bold;
    font-style: italic;
  }

  .hunter-list {
    position: absolute;
    height: 0;
  }

  .hunter-portrait {
    display: none;
    img {
      height: 7vw;
      width: 7vw;
      border-radius: 50%;
    }
  }
}

.hunter-list {
  display: none;
}

.hunter-list.visible {
  display: flex;
}

.leaderboard {
  width: 100%;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  #entries {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    .entry {
      display: flex;
      gap: 1em;
      width: 100%;

      .stat {
        font-size: 1.5vw;

        img {
          width: 5vw;
          padding: 0 0.5em 0 0.5em;
        }
      }

      .cell {
        flex: 1 1 0px;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .playername {
          text-decoration: none;
          color: white;
          font-size: 2em;
          display: flex;
          align-items: center;
          cursor: pointer;
          transition: all 0.5s ease;
          img {
            width: 32px;
            height: 32px;
            margin-left: 5px;
          }
        }

        .playername:hover {
          transition: all 0.5s ease;
          color: var(--primary-complement);
        }
      }

      .cell:nth-child(1) {
        font-size: 2em;
        justify-content: flex-end;
      }

      .cell:nth-child(3) {
        justify-content: center;
      }
    }
  }
}

#spinner:not([hidden]) {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#spinner::after {
  content: "";
  width: 80px;
  height: 80px;
  border: 2px solid white;
  border-top: 3px solid var(--sv-purple);
  border-radius: 100%;
  will-change: transform;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
